<form [formGroup]="registerForm" >
<div class="example">
    <mat-form-field>
        <input   matInput readonly  [value]="data. encargado ? data.encargado.nombre +' '+data.encargado.apellido : 'Ninguno'" placeholder="Encargado">
    </mat-form-field>
    <mat-form-field>
      <input   matInput readonly  [value]="data. observacion ? data.observacion : ' '" placeholder="Observacion">
  </mat-form-field>
      <mat-form-field>
      <input  matInput readonly [value]="data.localizacion ? data.localizacion : 'Ninguno'" placeholder="Lugar donde se encuentra"> 
      </mat-form-field>
      <mat-form-field>
        <mat-select placeholder="Encargado" formControlName="encargado" >
          <mat-option *ngFor="let encargado of encargados" [value]="encargado">
            {{encargado.nombre}} {{encargado.apellido}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-select placeholder="Lugar a donde se movera" formControlName="localizacion" >
          <mat-option *ngFor="let local of localizaciones" [value]="local.viewValue">
            {{local.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-select placeholder="Observacion" formControlName="observacion" >
          <mat-option *ngFor="let obser of observaciones" [value]="obser.viewValue">
            {{obser.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
</form>
<div class="button">
    <button mat-raised-button  color="warn" (click)="mover()">Mover</button>
 <button mat-raised-button class="separar" color="warn" (click)="close()">Cerrar</button>
</div>


     