*{
    background:red;
} 
.span-all{

    color: #fff;
    height: 73px;
    padding-left: 28%;   
    font-size: 38px;
    font-family: Arial, Helvetica, sans-serif;
}

.example-container{
    margin-top: -1%;
    margin-left: -1%;
    margin-right: -2%;
}
