*{
    background:red;
    width: 101%;
}
div .put-right {
    padding-left: 70%;
}
 
.span-all{

    color: #fff;
    height: 73px;
    margin-left: -1%;    
}

.example-container{
    margin-top: -1%;
}