  .example-container {
    display: flex;
    flex-direction: column;
    align-items: center; 
    padding-bottom: 10%;
  }
  .example-container > * {
    width: 51%;
  }
.button-container{
  margin-left: 37%;

}
.consult-example{
  text-align: center;
  background: red;
  color: white;
  width: 32%;
  margin-left: 31%;
  margin-bottom: 5%;
  margin-top: 2%;


}
div .formField-example{
  margin-left: 28%;
  margin-top: 4%;
  margin-bottom: 4%;
}

.button{
  margin-left: 10%;
}

div .chips-container{
  margin-left: 20%;

}

div .consult-list{
  margin-left: 0%;
  margin-top: 10%;
}

.li-separation{
  margin-bottom: 5%;
}
.text{
  text-align: center;
}