
  div .matchip{
      margin-left: 40px;
    }
  .example-container {
    display: flex;
    flex-direction: column;
    align-items: center; 
    padding-bottom: 10%;
  }
  .example-container > * {
    width: 40%;
  }

div .button{
  margin-right: 60px;
}

.consult-example{
  background: red;
  color: #fff;
}