<mat-card class="consult-example" >Consultar Documento</mat-card>

<div class="example-container">
  <div class="chips-container">
   <mat-chip-list>
    <mat-chip color="warn" selected="true">Por numero de cedula</mat-chip>
    <mat-chip color="warn" selected="true">Por numero de expediente</mat-chip>
  </mat-chip-list> 

    </div>

    <div class="formField-example">
       <mat-form-field >
       <input class="form-example" matInput placeholder="Nro de expediente">
       </mat-form-field>
    </div>

        <div class="button-container">
          <button mat-raised-button color="warn">Consultar</button>
         
         </div>
   
      </div>




  
   