   .chips-container{
     text-align: center;
     }
  .example-container {
    display: flex;
    flex-direction: column;
    align-items: center; 
  }
  .example-container > * {
    width: 40%;
  }
  .button-container{


   text-align: center;    
}
