
  
<div class="example">
  <mat-form-field>
    <input readOnly matInput [value]="data.proposito" placeholder="Proposito">
  </mat-form-field>

  <mat-form-field>
    <input readOnly matInput [value]="data.localizacion" placeholder="Localizacion">
  </mat-form-field>

  <mat-form-field>
    <input readOnly matInput [value]="" placeholder="Observacion">
  </mat-form-field>

  <mat-form-field>
    <input readOnly  matInput [value]="data.encargado" placeholder="Encargado">
  </mat-form-field>
</div>
<button mat-raised-button color="warn" class="button" (click)="close()">Cerrar</button>