.card{
  text-align: center;
  background: red;
  color: white;
  width: 32%;
  margin-left: 31%;
  margin-bottom: 5%;
  margin-top: 2%;

}


table {
  width: 100%;
}

.button{
margin-left: 42%;
margin-top: 10%

}
 
.mat-elevation-z8{
  width: 72%;
  margin-left: 14%;
  margin-top: 6%;
}
.secondcard{
  width: 18%;
    margin-left: 38%;

}
.button2{
  margin-left: 44%;
  margin-top: 3%;
}