<mat-card class="card">Reporte de documento</mat-card>

<mat-card class="secondcard">
  <mat-form-field>
    <input matInput [matDatepicker]="picker1" placeholder="Desde" [formControl]="date">
    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
    <mat-datepicker #picker1></mat-datepicker>
  </mat-form-field>

  <mat-form-field>
    <input matInput [matDatepicker]="picker2" placeholder="Hasta" [formControl]="serializedDate">
    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
    <mat-datepicker #picker2></mat-datepicker>
  </mat-form-field>
</mat-card>

 <div class="button2">
    <button mat-raised-button color="warn" (click)="generarReport()" >Generar Reporte</button>
  </div>
  


 <div *ngIf="view == 'reporte'"  class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource">


    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef> No. </th>
      <td mat-cell *matCellDef="let element"> {{element.position}} </td>
    </ng-container>

    
    <ng-container matColumnDef="nombre">
      <th mat-header-cell *matHeaderCellDef> Nombre </th>
      <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
    </ng-container>

  
    <ng-container matColumnDef="expediente">
      <th mat-header-cell *matHeaderCellDef> Nro de expediente </th>
      <td mat-cell *matCellDef="let element"> {{element.expediente}} </td>
    </ng-container>

    <ng-container matColumnDef="proposito">
      <th mat-header-cell *matHeaderCellDef> Proposito </th>
      <td mat-cell *matCellDef="let element"> {{element.proposito}} </td>
    </ng-container>

    <ng-container matColumnDef="encargado">
      <th mat-header-cell *matHeaderCellDef> Encargado </th>
      <td mat-cell *matCellDef="let element"> {{element.encargado}} </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  <div class="button">
    <button mat-raised-button color="warn" (click)="downland()">Descargar PDF</button>
  </div>
</div>

