.card{
  text-align: center;
  background: red;
  color: white;
  width: 32%;
  margin-left: 31%;
  margin-bottom: 5%;
  margin-top: 2%;

}

table {
  width: 100%;
}

.button{
margin-left: 42%;
margin-top: 10%

}
 
.mat-elevation-z8{
  width: 72%;
  margin-left: 14%;
  margin-top: 6%;
}
.secondcard{
  width: 18%;
    margin-left: 38%;

}
.button2{
  margin-left: 17%;
  margin-top: 3%;
}
.chips-examples{
  margin-left: 37%;
  margin-bottom: 3%;
}
.example-select{
  width: 16%;
    margin-left: 37%;
}

.button-depart{
  margin-left: 26%;
}

div .card{
  width: 44%;
  margin-left: 25%;
  text-align: center;
  color: white;
  background: red;
  margin-top: 2%;

}

.example-card{
  width: 41%;
  margin-left: 26%;
}

 div .card-example2{
  width: 22%;
  margin-left: 36%;
  background: red;
  color: white;
  margin-top: 3%;
  text-align: center;
}