.card{
  text-align: center;
  background: red;
  color: white;
  width: 32%;
  margin-left: 31%;
  margin-bottom: 5%;
}


table {
  width: 100%;
}

.button{
margin-left: 48%;
margin-top: 10%

}
 
.mat-elevation-z8{
  width: 72%;
  margin-left: 14%;
  margin-top: 6%;
}