.example-card{
    text-align: center;
    background: red;
    color: white;
    width: 32%;
    margin-left: 31%;
    margin-bottom: 5%;
    margin-top: 2%;


}
 .chips-example{
    margin-left: 36%;
}
table {
    width: 100%;
  }
  .mat-elevation-z8{
    width: 72%;
    margin-left: 14%;
    margin-top: 6%;
  }