div h2{
text-align: center;
}
div .example-card {
    max-width: 400px;
  }
  
 div .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }