.Card{
    text-align: center;
    background: red;
    color: white;
    width: 32%;
    margin-left: 31%;
    margin-bottom: 5%;
    margin-top: 2%;

  
  }

  .claseChips{
    margin-top: -3%;
    margin-left: 42%;
    margin-bottom: 2%; 
   }
  .example-card{
    background: #fff; 
    width: 22%;
    margin-left: 35%;
    text-align: center;
  }