

.example-container {
    position: absolute;
    top: 69px;
    bottom: 0;
    left: 0;
    right: 0;
    background: #fff;

    
}
.mat-sidenav {
    width: 15%;
    background: #F7F6F6;
    
}
a {
  text-decoration: none;  
  margin-left: 10%;
  color:black;
  font-family: arial;
    font-size: 18px;
}

.left{
margin-left: 5%;
margin-right: 5%;
}
.material-icons {
    color: red;
}

.hoverClass:hover{
   background:#ECF0F1  
}