<div *ngIf="islogin">
  <app-header [sidenav]="sidenav"></app-header>
</div>
<mat-sidenav-container class="example-container">
  <mat-sidenav class="sidenav" [ngStyle]="{'opacity':islogin ? '100' : '0' }" #sidenav mode="side" [(opened)]="opened">
    <div *ngIf="islogin">
      <mat-list class="left" role="list">
        <mat-list-item class="hoverClass" role="listitem"><i class="material-icons">home</i><a routerLink="inicio">Inicio</a></mat-list-item>
        <mat-list-item class="hoverClass" role="listitem"><i class="material-icons">how_to_reg</i><a routerLink="registrar">Registrar</a></mat-list-item>
        <mat-list-item class="hoverClass" role="listitem"><i class="material-icons">search</i><a routerLink="consultar">Consultar</a></mat-list-item>
        <mat-list-item class="hoverClass" role="listitem"><i class="material-icons">import_export</i><a routerLink="movimientos">Movimiento</a></mat-list-item>
        <mat-list-item class="hoverClass" role="listitem"><i class="material-icons">insert_drive_file</i><a routerLink="reportes">Reporte</a></mat-list-item>
        <mat-list-item class="hoverClass" role="listitem"><i class="material-icons">group</i><a routerLink="personal">Personal</a></mat-list-item>
        <mat-list-item class="hoverClass" role="listitem"><i class="material-icons">free_breakfast</i><a routerLink="admin">Admin</a></mat-list-item>
        <mat-list-item class="hoverClass" role="listitem"><i class="material-icons">account_box</i><a routerLink="ubicacion">Ubicacion</a></mat-list-item>
        <mat-list-item class="hoverClass" role="listitem">Salir</mat-list-item></mat-list>
      </div>
      </mat-sidenav>
  <mat-sidenav-content>
    <!-- <button *ngIf="islogin" (click)="sidenav.toggle()">|||||</button> -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
