

.example-container {
    position: absolute;
    top: 70px;
    bottom: 0;
    left: 0;
    right: 0;
    background: #eee;
    
}
.mat-sidenav {
    width: 15%;
    /* : red darken; */
}
a {
  text-decoration: none;  
  margin-left: 10%;
}
.left{
margin-left: 5%
}
.material-icons{
    color: red;
}