.example-container {
  display: flex;
  flex-direction: column;
  width: 90%;
}

.example-container>* {
  width: 100%;
}

.example-button {
  text-align: center;
}

.form-select {
  position: relative;
}

.group-containar {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 10%;
}

div .register-example {
  text-align: center;
  background: red;
  color: white;
  width: 32%;
  margin-left: 31%;
  margin-bottom: 5%;
  margin-top: 2%;
}

.Card {
  background: #fff;
  width: 20%;
  margin-left: 38%;
  text-align: center;
  border-radius: 10%;
}

h5 {
  text-align: center;
  color: black;
}

.secondCard {
  width: 36%;
  margin-left: 29%;
  text-align: center;
}

.example-card {
  background: #fff;
}

.card-solicitudes {
  margin-bottom: 5%;
}

.example-uls {
  list-style-type: none;
  display: inline;
}

.material-icons {
  color: red;
}

.example-propositoCard {
  text-align: center;
  background: red;
  color: white;
  width: 72%;
  margin-left: 12%;
  margin-bottom: 5%;
  margin-top: 5%;

}

.example-registerCard{
  text-align: center;
  background: red;
  color: white;
  width: 30%;
  margin-left: 32%;
  margin-bottom: 5%;
  margin-top: 3%;
}
.example-card-box{
  margin-left: 15%;
  width: 65%;
  margin-bottom: 4%;
}