<div *ngIf="view=='register'">
  <div>
    <mat-card class=example-registerCard>
      Registrar 
    </mat-card>
  </div>

  <mat-card class="example-card-box">
  <form [formGroup]="registerForm">  
        <mat-grid-list cols="2" rowHeight="6:1">
            <mat-grid-tile>
              <mat-form-field>
                <input matInput formControlName="cedula" (keypress)="numberOnly($event)" placeholder="Cedula" maxlength="8">
              </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>
              <mat-form-field>
                <input matInput formControlName="nombre" placeholder="Nombres" maxlength="20">
              </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>
              <mat-form-field>
                <input matInput formControlName="apellido" placeholder="Apellidos" maxlength="20">
              </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Email" formControlName="correo"
                           [errorStateMatcher]="matcher">
                    <mat-error *ngIf="registerForm.hasError('email') && !registerForm.hasError('required')">
                      Por favor colocar una direccion email valido!
                    </mat-error>
                    <mat-error *ngIf="registerForm.hasError('required')">
                      Email is <strong>required</strong>
                    </mat-error>
                  </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>
              <mat-form-field>
                <input matInput formControlName="telefono" placeholder="Telefono" maxlength="12">
              </mat-form-field>
            </mat-grid-tile>
      
          </mat-grid-list>
        </form>
    </mat-card>
    
  <div class="example-button">
    <button mat-raised-button (click)="save('red-snackbar')" color="warn" [disabled]="disableB">Registrar</button>
  </div>
</div>


<div *ngIf="view=='search'">
  <div>
    <mat-card class="register-example">Consultar </mat-card>
  </div>

  <mat-card class="Card">
    <mat-form-field>
      <input matInput [(ngModel)]="cedula" placeholder="Cedula" maxlength="8">
    </mat-form-field>
    <div>
      <button mat-raised-button color="warn" (click)="search()">Consultar</button>
    </div>

  </mat-card>

</div>

<div *ngIf="view=='solicitar'" class="secondCard">
  <div>
    <mat-card class="example-propositoCard">
      Agregado de proposito
    </mat-card>

  </div>
  <mat-card class="example-card">
    <mat-form-field>
      <div class="form-select">
        <mat-select [(ngModel)]="proposito" placeholder="Propósito">
          <mat-option value="Legalizacion de Notas de Primaria">Legalizacion de Notas de Primaria</mat-option>
          <mat-option value="Constancia de Primaria">Constancia de Primaria</mat-option>
          <mat-option value="Constancia de primaria diversificada">Constancia de primaria diversificada</mat-option>
          <mat-option value="Legalizacion de titulo">Legalizacion de titulo</mat-option>
          <mat-option value="Emision de titulo de libre escolaridad">Emision de titulo de libre escolaridad</mat-option>
          <mat-option value="Evaluacion">Evaluacion</mat-option>
        </mat-select>
      </div>
    </mat-form-field>
    <h5 class="titulo-example">El usuario {{solicitante.nombre}} portador de la cedula {{solicitante.cedula}} tiene registrados los siguientes expedientes
      hasta la fecha</h5>

    <mat-card class="card-solicitudes">
      <ul class="example-uls">

        <li class="li-separation" *ngFor="let solicitud of solicitudes">
          <i class="material-icons">library_books</i>
          {{solicitud.expediente}} - {{parsearFecha(solicitud.created)}}
        </li>
      </ul>
    </mat-card>
    <button mat-raised-button color="warn" (click)="saveSolicitud()">Agregar</button>
  </mat-card>
</div>
