.example-container {
    display: flex;
    flex-direction: column;
    width: 90%;
  }
  
  .example-container > * {
    width: 100%;
  }
  .example-button{
  text-align:center;
  }
  .form-select{
    position: relative;
  
  }
  .group-containar{

    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10%;
  }
 div .register-example{
  text-align: center;
  background: red;
  color: white;
  width: 32%;
  margin-left: 31%;
  margin-bottom: 5%;

}
.colorCard{
  background:#EFE9E7;
}