.example-container {
    display: flex;
    flex-direction: column;
    align-items: center; 
    padding-bottom: 10%;
  }
  .example-container > * {
    width: 50%;
  }
.button-container{
  margin-left: 37%;

}
.consult-example{
  text-align: center;
    background: red;
    margin: 20px;
    color: white;
    margin-bottom: 5%;
    width: 37%;
    margin-left: 28%;

}
div .formField-example{
  margin-left: 20%;
  width: 40%;
  margin-top: 4%;
  margin-bottom: 4%;
}

.button{
  margin-left: 10%;
}

div .chips-container{
  margin-left: 20%;

}
