.login{
    height: 50%;
    width: 38%;
    margin-left: 28%;
    margin-top: 3%;
    

}
.button{
  margin-left: 10%;
}
.grupob{
  margin-top: 15%;
  text-align: center;
}
.first{
    width: 38%;
    margin-left: 28%;
    color: white;
    background: red;
    text-align: center;
    font-size: 153%
}
h4{
margin-top: 7%;
color: red;
text-align: center;
}
.example-card{
  display: flex;
    flex-direction: column;
    align-items: center;

}
