
    <div class="formField-example">
       <mat-form-field >
       <input class="form-example" [(ngModel)]="username" matInput placeholder="Nombre de usuario">
       </mat-form-field>
       <mat-form-field >
        <input class="form-example" [(ngModel)]="password" matInput placeholder="contraseña">
        </mat-form-field>

        
        <mat-select [(ngModel)]="rol"  placeholder="Rol">
          <mat-option value="leg1">Registrador</mat-option>
          <mat-option value="leg2">Consultor</mat-option>
          <mat-option value="leg2">Movimiento</mat-option>
          </mat-select>

             
   
    </div>

        <div class="button-container">
          <button mat-raised-button color="warn" (click)="saveUser()">Crear</button>
         
          <button mat-raised-button color="warn" (click)="loginUser()">Login</button>
         </div>
   
     


